body { background-color:rgb(223, 222, 222);
  font-family: 'Thasadith', sans-serif;
  font-weight: 800;
 }
.navbar-brand {
  font-family: 'Staatliches', cursive;
  font-weight: 300;
}
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
.card {
  box-shadow: 5px 5px 0 rgba(0,0,0,0.2);
  margin: 10px;
  height: 25rem;
}
#article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
#summary {
  font-size: 12px;
}  
#sum-div {
  background-color: aquamarine;
  height: 90px;
}
#link-div {
  height: 90px;
  background-color: blueviolet;
}
#title-div {
  height: 90px;
  background-color: yellow;
}